@import '../../variable/color/timestamp';

.cmsg {
  .content {
    .text-timestamp {
      font-size: 10px;
      text-align: right;
      margin-bottom: -5px;
      @include theme('color',$chat-message-color-timestamp-me);
      transition: 0.3s;

      .icon-check {
        height: 14px;
        width: 14px;
        vertical-align: middle;
        margin: -3px -3px 0 3px;

        #icon-double-check,
        #icon-check {
          @include theme('fill',$chat-message-color-timestamp-me);
        }
      }
    }
  }

  &.cleft {
    .text-timestamp {
      color: rgb(160, 160, 160);
      @include theme('color',$chat-message-color-timestamp);
      .icon-check {

        #icon-double-check,
        #icon-check {
          @include theme('fill',$chat-message-color-timestamp);
        }
      }
    }
  }
}



