$chat-message-bg-color-tips-primary: (
  light:#3986c8,
  dark:rgb(68, 127, 178)
);
$chat-message-bg-color-tips-success: (
  light:#49b649,
  dark:rgb(102, 166, 81)
);
$chat-message-bg-color-tips-info: (
  light:#5bb6d1,
  dark:rgb(63, 136, 158)
);
$chat-message-bg-color-tips-warning: (
  light:#eea948,
  dark:rgb(175, 119, 40)
);
$chat-message-bg-color-tips-danger: (
  light:#e24d48,
  dark:rgb(173, 53, 49)
);
